<?xml version="1.0" encoding="UTF-8"?>
<主机>
	<计算服务器>
		<name>计算服务器1</name>
		<ip>192.168.20.128</ip>
		<port>4000</port>
		<program>
			<name>add</name>
			<params>
				<name>p1</name>
				<type>int</type>
			</params>
			<params>
				<name>p2</name>
				<type>int</type>
			</params>
		</program>
		<program>
			<name>multiply</name>
			<params>
				<name>p1</name>
				<type>int</type>
			</params>
			<params>
				<name>p2</name>
				<type>int</type>
			</params>
		</program>
	</计算服务器>
	<计算服务器>
		<name>计算服务器2</name>
		<ip>192.168.169.129</ip>
		<port>4000</port>
		<program>
			<name>add</name>
			<params>
				<name>p1</name>
				<type>int</type>
			</params>
			<params>
				<name>p2</name>
				<type>int</type>
			</params>
		</program>
		<program>
			<name>multiply</name>
			<params>
				<name>p1</name>
				<type>int</type>
			</params>
			<params>
				<name>p2</name>
				<type>int</type>
			</params>
		</program>
	</计算服务器>
</主机>	
